.container {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.container-fluid {
  --bs-gutter-x: 1.5rem !important;
  margin: 0% !important;
  padding: 0 !important;
}

#app {
  color: var(--color-white) !important;
  scroll-behavior: smooth !important;
  height: 100vh;
  max-width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 0px;
}