@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #ffd9d9;
  --color-secondary: #5928e5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-family: "Montserrat", sans-serif;
 

}
.container {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
.container-fluid{
  --bs-gutter-x: 1.5rem !important;
  margin: 0% !important;
  padding: 0 !important;
}
#app {
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
  background-color: var(--color-black);
  color: var(--color-white) !important;
  
/* scroll-snap-stop: normal !important; */
  overflow-y: scroll;
}
.section {
  min-height: 100vh !important;
  scroll-snap-align: start;
 
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}
