
h2 span{
  font-size: 2rem !important;
  font-weight: 900;
  color: #ccd6f6;
  opacity: 0.9;
  background-color: #5928e5;
  letter-spacing: 2px;
  /* border-bottom: 1px solid #ccd6f6; */

}
.form-control {
  background: none !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid var(--color-secondary) !important;
  color: var(--light-slate) !important ;
  padding: 0 !important;
  padding-bottom: 3% !important;
}
.form-control:focus {
  border: none !important;
  border-bottom: 1px solid var(--light-slate) !important;
  /* outline: none !important; */
  box-shadow: none !important; /* Add this line */
  color: var(--color-secondary) !important;
}
.form-group {
  position: relative !important;
}
.form-group:focus-within .form-label {
  color: var(--light-slate) !important;
  transition: color 0.1s ease-in-out !important;
}
/* 
.form-control:focus + .form-label,
.form-control:focus ~ .form-label {
  color: var(--color-secondary) !important;
} */


.form-label {
  font-size: smaller !important;
  letter-spacing: 1.1px !important;
  color: var(--color-secondary);
}

#shoot {
  border: 1px solid var(--slate);
  padding: 1rem 2rem;
  margin-top: 2rem;
  transition: ease-in 0.5s;
  cursor: pointer;
}
#shoot:hover {
  background-color: var(--slate);
  color: #4415c3;
  font-weight: bold !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-secondary) !important; /* Replace with your desired color */
  opacity: 0.5 !important;
  font-size: smaller !important;
  letter-spacing: 1.1px !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--slate) !important;
  opacity: 0.5 !important;
  font-size: smaller !important;
  letter-spacing: 1.1px !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--slate) !important;
  opacity: 0.5 !important;
  font-size: smaller !important;
  letter-spacing: 1.1px !important;
}

@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
}