:root {
  --color-secondary: #5928e5;
}

.footer {
  min-height: 25vh !important;
  width: 100% !important;
  max-width: none !important;
  /* background: var(--color-secondary); */
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* these 2 lines makes the scroll snap to show the footer */
  scroll-snap-stop: always;
  scroll-snap-align: end;
  padding: 1% !important;
  gap: 0.8rem;
}
.sm-icon-container {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  /* gap: 1rem; */
  /* background-color: antiquewhite; */
  /* padding-bottom: 2%; */
  padding: 5%;
}
.sm-icon {
  width: 8rem !important;
  background-color: #6937f1;
  
  /* font-size: clamp(1.2rem, 2.2vw, 2.2rem) !important; */
  /* padding: 0.2rem 0.8rem; */

  cursor: pointer;
  border-radius: 0.1rem;
  padding: 0.6rem 0.7rem;
}
.sm-icon a{
  color:  #ffdbdb !important;
  text-decoration: none !important;
}
.move-up-rocket{
  color:  #6937f1 !important;
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  cursor: pointer;


}
