:root {
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #ffd9d9;
  --color-secondary: #5928e5;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
}
.container {
  max-width: 100% !important;
}
#home {
  height: 90vh !important;
  width: 100% !important;
  /* background-color: #8892b0 !important; */
  /* margin-top: 5% !important; */
  /* position: absolute;
  left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* padding-top: -10% !important; */
  padding-left: 5% !important;
  padding-right: 5% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  position: relative;
}
#hi {
  color: var(--color-secondary) !important;
  font-size: clamp(10px, 2vw, 15px);
  letter-spacing: 0.8px;
  font-weight: bold;
  text-shadow: 80px 80px 10px rgba(81, 32, 216, 0.59);
}
#name {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  text-align: left !important;
  font-size: clamp(40px, 8vw, 80px) !important;
  font-size: 5rem;
  font-weight: bolder;
  color: var(--light-slate) !important;
  z-index: 1;
  text-shadow: 4px 4px 10px rgba(81, 32, 216, 0.59);
}
#tagline {
  font-size: clamp(20px, 3vw, 40px);
  font-weight: 600;
  margin-top: -1.2%;
  letter-spacing: 0.3px;
  color: var(--slate) !important;
  z-index: 1;
  text-shadow: 8px 8px 10px rgba(81, 32, 216, 0.59);
}
#description {
  width: 100%;
  justify-content: center;
  margin-top: 0.5%;
  color: var(--slate) !important;
  /* text-justify: center !important; */
  white-space: wrap !important;
  word-wrap: break-word !important;
  text-align: center !important;
  z-index: 1;
}

#blobOne {
  position: absolute;
  height: 700px;
  width: 700px;
  background-color: #5c2ae5;
  border-radius: 50%;
  top: 20%;
  left: -4%;
  box-shadow: #8892b0 10rem;
  /* z-index: -1; */
  opacity: 0.38 !important;
  -webkit-box-shadow: 7px -6px 5px 0px rgba(89, 40, 229, 0.66);
  -moz-box-shadow: 7px -6px 5px 0px rgba(89, 40, 229, 0.66);
  box-shadow: 7px -6px 5px 0px rgba(89, 40, 229, 0.66);
}
#blobTwo {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #5c2ae5;
  border-radius: 50%;
  right: -4%;
  top: -6%;
}
#marqueeOne {
  position: absolute;
  top: 56%;
  left: -6%;
  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
#marqueeTwo {
  position: absolute;
  top: 58%;
  left: -4%;
  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
#marqueeThree {
  position: absolute;
  top: 60%;
  left: -6%;

  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
#marqueeFour {
  position: absolute;
  top: 62%;
  left: -8%;

  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
#marqueeFive {
  position: absolute;
  top: 64%;
  left: -10%;

  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
}
#marqueeSix{
  position: absolute;
  top: 2%;
  right: 30%;

  color: #000 !important;
  font-size: 12px;
  font-weight: bold;
}

#knowmore {
  z-index: 1;
  display: flex !important;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: space-around;
  flex-direction: row !important;
}

#resume,
#hireMe {
  flex-grow: 1; /* Allow both columns to grow equally */
  text-align: center; /* Optional: Center align text within columns */
}

#resume {
  color: #fff !important;
  border: #000 1px solid;
  padding: 1rem; /* Reduced padding to avoid squishing */
  background-color: #000;
  /* opacity: 0.3; */
  z-index: 1;
}
#hireMe {
  color: #fff !important;
  border: #000 1px solid;
  padding: 1rem; /* Reduced padding to avoid squishing */
  background-color: #5c2ae5;
  /* opacity: 0.3; */
  z-index: 1;
}
