@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #ffdbdb;
  --color-secondary: #5928e5;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
}
#navbar {
  height: 11vh !important;
  width: 100% !important;
  scroll-snap-stop: always !important;
  scroll-snap-align: start !important;
  backdrop-filter: blur(19px) saturate(105%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(105%) !important;
  background-blend-mode:luminosity;
  z-index: 100 !important; /* Ensure navbar is on top of background */
  /* position: absolute;  */

  
}
.navbar-toggle-icon span {
  border: none;
  color: white !important;
}
.navbar-toggler {
  color: #ccd6f6 !important;
  font-size: 2rem !important;
  padding-right: 10% !important;
}
.navbar {
  --bs-navbar-toggler-border-color: 0 !important;
  --bs-navbar-toggler-border-radius: 0 !important;
  --bs-navbar-toggler-focus-width: 0 !important;
}
.navbar-brand {
  font-family: "Moirai One", system-ui;
  /* font-size: clamp(1.8rem, 0.9167rem + 0.7778vw, 1.5rem) !important; */
  font-size: 2rem !important;
  letter-spacing: 1.2px;
  cursor: pointer !important;
  padding-left: clamp(0.625rem, 0.4167rem + 1.1111vw, 1.25rem);
  font-weight: 700 !important;
  color: var(--color-secondary) !important;
  /* text-shadow: #fdfdfd !important; */
  text-shadow: 8px 8px 10px rgba(81, 32, 216, 0.59);
  background-color: black;
  /* height: 10vh; */
}

.navbar a {
  font-size: clamp(13px, 3.5vw, 18px);
  /* font-weight: bold !important; */
  color: var(--light-slate) !important;
  text-shadow: 1px 1px 100px rgba(69, 43, 149, 0.59);
  
}
.navbar a:hover {
  color: #5928e5 !important;
  /* font-weight: bold !important; */
}
.offcanvas.offcanvas-end {
  width: 80% !important;
  padding: 5.3% !important;

  background-color: #5928e5 !important;
  color: var(--color-white) !important;
  backdrop-filter: blur(80px);
}
.btn-close {
  color: var(--color-white) !important;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 7rem !important;
  }
  /* #navbar{
    margin-right: 50rem !important;
  } */
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-left: 2rem !important;
  }
   #navbar{
    /* margin-top: -3rem !important; */
  }
}
