@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #ffdbdb;
  --color-secondary: #5928e5;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
}
#navbar {
  height: 10vh !important;
  width: 100% !important;
  /* position:sticky; */
  scroll-snap-stop: always !important;
  scroll-snap-align: start !important;
  backdrop-filter: blur(19px) saturate(105%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(105%) !important;
}
.navbar-toggle-icon span {
  border: none;
  color: white !important;
}
.navbar-toggler {
  color: white !important;
  font-size: 2rem !important;
  padding-right: 10% !important;
}
.navbar {
  --bs-navbar-toggler-border-color: 0 !important;
  --bs-navbar-toggler-border-radius: 0 !important;
  --bs-navbar-toggler-focus-width: 0 !important;
}
.navbar-brand {
  /* font-family: 'Moirai One', system-ui; */
  font-size: clamp(1.8rem, 0.9167rem + 0.7778vw, 1.5rem) !important;
  letter-spacing: 1.2px;
  cursor: pointer;
  padding-left: clamp(0.625rem, 0.4167rem + 1.1111vw, 1.25rem);
  font-weight: bold !important;
  color: var(--color-secondary) !important;
  text-shadow: #fdfdfd !important;
}

.navbar a {
  font-size: clamp(13px, 3.5vw, 18px);
  /* font-weight: bold !important; */
  color: var(--light-slate) !important;
}
.offcanvas.offcanvas-end{
  width: 80% !important;
  padding: 5% !important;
 
  background-color: rgba(89, 40, 229, 0.58) !important;
  color: var(--color-white) !important;
}
.btn-close{
  color: var(--color-white) !important;
}


