.projects-container{
    height: 100vh;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
    /* padding: 1rem; */
    /* background:blue; */
   
   justify-content: center;
   align-items: center;
   grid-gap: 2rem;
   /* width : 100%;
   margin : 2rem auto; */
 
}
.card{
    /* padding: 1rem; */
   
    /* background-color: aqua; */
   
    /* width: 40vw; */
    background-color: var(--color-secondary);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.card p{
    font-size: 1.2rem;
}


