#projects-container {
  min-height: auto !important;
  display: flex !important;
  overflow-y: scroll;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  background-color: #5928e5 !important;
  gap: 2.5rem;
}

#projects {
  /* height: 100vh !important; */
  /* width: 100% !important; */
  display: grid !important;
  justify-content: center !important;
  align-items: center !important;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)) !important;
  padding: 0 5% !important;
  grid-gap: 1rem;
}

#project-heading {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: bold;
}


.project-card {
  height: 27vh !important;
  width: 58rem !important;

  background: rgb(0, 0, 0) !important;
  overflow: hidden !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  z-index: 100 !important;
  padding-left: 2rem !important;
}

.project-toolbar {
  font-size: 0.9rem;
  /* padding: 1rem; */
}


.project-card h3 {
  font-weight: bold;
  letter-spacing: 1.2px;
  color: var(--color-accent-two) !important;

}

.modal-footer a {
  color: var(--color-secondary);
}

.techstack {
  font-size: 0.9rem;
  color: var(--light-slate);
}

.project-toolbar {
  font-size: 0.9rem;

  display: flex;
  gap: 0.96rem;
  margin-top: 1rem;
}

.project-toolbar span {
  color: var(--light-slate);

  border-bottom: 0.5px solid var(--color-secondary);
  cursor: pointer;
}

.modal-content {
  background-color: var(--color-black) !important;
  border-radius: 0 !important;
  gap: 0.7rem !important;
  opacity: 0.9;

}




.modal-dialog{
  /* margin: 0 !important; */
}
.modal-body p {
  border-bottom: 0 !important;
  padding: 0% !important;
  /* font-weight: bold; */
  color: var(--light-slate)!important;
  line-height: 20px;
letter-spacing: 0.8px;

}

.modal-title {
  font-weight: bold !important;
  color: var(--color-accent-two)!important;
  font-weight: bold;
  width: 100% !important;
  display: flex !important;
  justify-content: flex-start !important;
  border-bottom: 0 !important;
letter-spacing: 2px;
}

.modal-footer {
  justify-content: flex-start !important;
  gap: 1rem !important;
  border-top: 0 !important;
}
.btn-close {
  color: var(--color-white) !important;
  font-weight: bold;
}
.modal-header{
  border-bottom: 0 !important;
}
#more{
  border-bottom: var(--color-black) solid 1px ;
  cursor: pointer;
}
/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-dialog {
    /* margin: 1rem !important; */
    height: 100vh;
    width: 100%;
  }
  .project-card{
    height: 22vh !important;
    width: 17rem !important;
  }
  .project-card h3{
    font-size: 1rem;
  }
  .techstack{
    letter-spacing: 0.7px;
    font-size: 0.8rem;
  }
  .project-toolbar{
    font-size: 0.9rem;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .modal{
    /* margin: 1rem !important; */
    height: 100vh;
    width: 100%;
  }
  .modal-body p{
    line-height: 25px;
  }
.modal-dialog{
  margin: 0% !important;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
  .modal {
    /* margin: 1rem !important; */
    height: 100%;
    width: 100%;
  }
  
.modal-dialog{
  margin: 0% !important;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}