.skill-icon:hover {
  color: #5928e5 !important;
  transform: scale(1.1);
}

#tech-heading {
  color: #5928e5 !important;
  margin-bottom: 4%;
} 
#skills-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skill-icon {
  /* font-size: clamp(3rem, 2.3333rem + 3.5556vw, 5rem); */
  cursor: pointer;
  font-size: 6rem;
  transition: 0.3s ease-out;
  color: #ccd6f6 !important;
  margin: 1.5rem;
  
  /* margin-right: 5rem; */
}
.icons {
  /* background-color: rgb(56, 37, 12); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important; */
  grid-template-columns: auto auto;
  /* grid-gap: 0.2rem; */
 /* height: 40rem;
 width: 30rem; */
 padding: 0 2rem;
 padding-top: 0 !important;
 /* margin: 0 1rem; */
 
}
.section-two-icons{
  display: flex;
  gap: 1em;
/* margin: 1rem; */
}
