@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-accent: #ffd9d9;
    --color-accent-two: #EEA1BE;
    --color-secondary: #5928e5;
    --light-slate: #ccd6f6;
    --slate: #8892b0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
        system-ui, sans-serif;
    font-family: "Montserrat", sans-serif;
}